flows/NRD-Charts-TISensorData.json
[
    {
        "id": "829468b.70bbe18",
        "type": "tab",
        "label": "Chart Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74a1bea1.85c918",
        "type": "tab",
        "label": "Dashboard Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "913f0022.793408",
        "type": "tab",
        "label": "SimpleLink CC3235SF",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ab1a0d2e.a4f378",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "abc123.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "805aecf2.015d7",
        "clientid": "a:abc123:ti-simplelink",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "805aecf2.015d7",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "abc123.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    },
    {
        "id": "c967ad43.4bf4c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "93dd80e1.487718",
        "type": "ui_group",
        "z": "",
        "name": "Temp",
        "tab": "576695dd.f0e654",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f54c053b.84a3c8",
        "type": "ui_group",
        "z": "",
        "name": "Motion",
        "tab": "576695dd.f0e654",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f05c364b.a977d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "abc123.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "8f17aebd.18f31",
        "clientid": "a:abc123:ti-simplelink",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "576695dd.f0e654",
        "type": "ui_tab",
        "z": "",
        "name": "SimpleLink Workshop",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f17aebd.18f31",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "abc123.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    },
    {
        "id": "32cccd17.3e1792",
        "type": "ui_group",
        "z": "",
        "name": "Line Chart Examples",
        "tab": "82aac941.c95cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e7c9833.11eb4",
        "type": "ui_group",
        "z": "",
        "name": "Bar Chart Examples",
        "tab": "82aac941.c95cc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b031f05e.9d8a88",
        "type": "ui_group",
        "z": "",
        "name": "Pie Chart Examples",
        "tab": "82aac941.c95cc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "82aac941.c95cc",
        "type": "ui_tab",
        "z": "",
        "name": "Chart Examples",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "5547a29d.3b34ec",
        "type": "ui_group",
        "z": "",
        "name": "Start / Stop",
        "tab": "2fb3e3ca.21761c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3154777a.cb3c3",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard Controls",
        "tab": "2fb3e3ca.21761c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2fb3e3ca.21761c",
        "type": "ui_tab",
        "z": "74a1bea1.85c918",
        "name": "Introduction",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "29d6efbe.309268",
        "type": "debug",
        "z": "913f0022.793408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "397bc3a3.22d554",
        "type": "change",
        "z": "913f0022.793408",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "30fb2359.1957cc"
            ]
        ]
    },
    {
        "id": "30fb2359.1957cc",
        "type": "ui_chart",
        "z": "913f0022.793408",
        "name": "",
        "group": "93dd80e1.487718",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp (Cº)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c84400bd.720be8",
        "type": "change",
        "z": "913f0022.793408",
        "name": "Chart Accel X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.accel_x",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "363f307.ed42ad"
            ]
        ]
    },
    {
        "id": "5b99ee15.5a5ed8",
        "type": "change",
        "z": "913f0022.793408",
        "name": "Chart Accel Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.accel_z",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "363f307.ed42ad"
            ]
        ]
    },
    {
        "id": "70bea1ff.cbd2e",
        "type": "change",
        "z": "913f0022.793408",
        "name": "Chart Accel Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.accel_y",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "363f307.ed42ad"
            ]
        ]
    },
    {
        "id": "363f307.ed42ad",
        "type": "ui_chart",
        "z": "913f0022.793408",
        "name": "",
        "group": "f54c053b.84a3c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "SimpleLink Accelerometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 860,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8fc85ccd.10a5a",
        "type": "switch",
        "z": "913f0022.793408",
        "name": "CC32XX Board",
        "property": "payload.d.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CC32XXLP",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "5b99ee15.5a5ed8",
                "70bea1ff.cbd2e",
                "c84400bd.720be8",
                "397bc3a3.22d554",
                "83c28d66.f18ba"
            ]
        ]
    },
    {
        "id": "702b4e4.f8ebeb",
        "type": "mqtt in",
        "z": "913f0022.793408",
        "name": "SimpleLink MQTT",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "f05c364b.a977d",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "29d6efbe.309268",
                "8fc85ccd.10a5a"
            ]
        ]
    },
    {
        "id": "eb55f9.ea2dba08",
        "type": "template",
        "z": "913f0022.793408",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : The button has been pressed!",
        "output": "str",
        "x": 820,
        "y": 300,
        "wires": [
            [
                "80c44716.e698a"
            ]
        ]
    },
    {
        "id": "83c28d66.f18ba",
        "type": "switch",
        "z": "913f0022.793408",
        "name": "Alert on Button Press",
        "property": "payload.d.buttonToggle",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "eb55f9.ea2dba08"
            ]
        ]
    },
    {
        "id": "80c44716.e698a",
        "type": "ui_toast",
        "z": "913f0022.793408",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "8285bb86.3d995",
        "type": "function",
        "z": "829468b.70bbe18",
        "name": "Fill Single Chart Array",
        "func": "var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "a1345326.7981d8",
                "9e5eb11e.fcfc98"
            ]
        ]
    },
    {
        "id": "9e5eb11e.fcfc98",
        "type": "debug",
        "z": "829468b.70bbe18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5661de51.e1f978",
        "type": "comment",
        "z": "829468b.70bbe18",
        "name": "Sample Dashboard that plots various Chart types",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "886bc5b9.7b20f8",
        "type": "function",
        "z": "829468b.70bbe18",
        "name": "Fill Multiple Line Chart Array",
        "func": "var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "86008394.0273b",
                "176b52c4.30e51d"
            ]
        ]
    },
    {
        "id": "176b52c4.30e51d",
        "type": "debug",
        "z": "829468b.70bbe18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "e3906a6d.5cedc8",
        "type": "inject",
        "z": "829468b.70bbe18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "8285bb86.3d995"
            ]
        ]
    },
    {
        "id": "2c96eb17.743d24",
        "type": "inject",
        "z": "829468b.70bbe18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "886bc5b9.7b20f8"
            ]
        ]
    },
    {
        "id": "a8c53df.65aef4",
        "type": "inject",
        "z": "829468b.70bbe18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "772b9e11.74abc"
            ]
        ]
    },
    {
        "id": "772b9e11.74abc",
        "type": "function",
        "z": "829468b.70bbe18",
        "name": "Fill Bar Chart Array",
        "func": "var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "3413e37c.33850c",
                "d22a4696.6cc4a",
                "52e79e9b.62dae8"
            ]
        ]
    },
    {
        "id": "d22a4696.6cc4a",
        "type": "debug",
        "z": "829468b.70bbe18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "70f264ff.eae004",
        "type": "function",
        "z": "829468b.70bbe18",
        "name": "Fill Pie Chart Array",
        "func": "var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "5a5bb0fa.69ecc8",
                "154b1b5.fff79e5",
                "b594f761.503a88",
                "d0d1354a.a55c38",
                "d550c9f9.026d7"
            ]
        ]
    },
    {
        "id": "f20dc4e7.8d9c58",
        "type": "inject",
        "z": "829468b.70bbe18",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "70f264ff.eae004"
            ]
        ]
    },
    {
        "id": "154b1b5.fff79e5",
        "type": "debug",
        "z": "829468b.70bbe18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "a1345326.7981d8",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "32cccd17.3e1792",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Single Line Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "86008394.0273b",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "32cccd17.3e1792",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Multiple Line Plots",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 610,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3413e37c.33850c",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "6e7c9833.11eb4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vertical Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "52e79e9b.62dae8",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "6e7c9833.11eb4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Horizontal Bar Chart",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 619.0908813476562,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5a5bb0fa.69ecc8",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "b031f05e.9d8a88",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pie Chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b594f761.503a88",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "b031f05e.9d8a88",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Polar Area Chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 400.9090881347656,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d550c9f9.026d7",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "b031f05e.9d8a88",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Radar Chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d0d1354a.a55c38",
        "type": "ui_chart",
        "z": "829468b.70bbe18",
        "name": "",
        "group": "b031f05e.9d8a88",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Donut Chart",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c312ad13.deaee8",
        "type": "inject",
        "z": "74a1bea1.85c918",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "fd71cb93.b2c1b"
            ]
        ]
    },
    {
        "id": "266bf1c7.4f64fe",
        "type": "function",
        "z": "74a1bea1.85c918",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "78f1986b.88d998"
            ]
        ]
    },
    {
        "id": "ed296aaa.2bf01",
        "type": "inject",
        "z": "74a1bea1.85c918",
        "name": "Instructions",
        "topic": "",
        "payload": "Use the toggle switch to start / stop the generation of random numbers",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "7c1f34d1.0d160c"
            ]
        ]
    },
    {
        "id": "eb7e4d93.cb0da",
        "type": "switch",
        "z": "74a1bea1.85c918",
        "name": "Warn on High Values",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "57221bbf.127a3c"
            ]
        ]
    },
    {
        "id": "57221bbf.127a3c",
        "type": "template",
        "z": "74a1bea1.85c918",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload}}",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "4304b4e3.2cf04c"
            ]
        ]
    },
    {
        "id": "78f1986b.88d998",
        "type": "link out",
        "z": "74a1bea1.85c918",
        "name": "",
        "links": [
            "41b4b58b.7a3b84"
        ],
        "x": 555,
        "y": 140,
        "wires": []
    },
    {
        "id": "41b4b58b.7a3b84",
        "type": "link in",
        "z": "74a1bea1.85c918",
        "name": "",
        "links": [
            "78f1986b.88d998"
        ],
        "x": 95,
        "y": 240,
        "wires": [
            [
                "86623ad9.cf0458",
                "7bfadf6e.06f278",
                "f7b91c97.f1e4",
                "403ac57e.0a4034",
                "eb7e4d93.cb0da"
            ]
        ]
    },
    {
        "id": "fd71cb93.b2c1b",
        "type": "ui_switch",
        "z": "74a1bea1.85c918",
        "name": "",
        "label": "Switch",
        "group": "5547a29d.3b34ec",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "266bf1c7.4f64fe"
            ]
        ]
    },
    {
        "id": "f7b91c97.f1e4",
        "type": "ui_slider",
        "z": "74a1bea1.85c918",
        "name": "",
        "label": "Slider",
        "group": "3154777a.cb3c3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "403ac57e.0a4034",
        "type": "ui_text",
        "z": "74a1bea1.85c918",
        "group": "3154777a.cb3c3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "7c1f34d1.0d160c",
        "type": "ui_text",
        "z": "74a1bea1.85c918",
        "group": "5547a29d.3b34ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "7bfadf6e.06f278",
        "type": "ui_gauge",
        "z": "74a1bea1.85c918",
        "name": "Gauge",
        "group": "3154777a.cb3c3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "86623ad9.cf0458",
        "type": "ui_chart",
        "z": "74a1bea1.85c918",
        "name": "Chart",
        "group": "3154777a.cb3c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Random #",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Querying Entropy",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4304b4e3.2cf04c",
        "type": "ui_toast",
        "z": "74a1bea1.85c918",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 400,
        "wires": []
    }
]
