flows/NRD-Cloudant-ToFSensorData.json
[
    {
        "id": "845deb77.e259d8",
        "type": "tab",
        "label": "Store Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7466261.e3609",
        "type": "function",
        "z": "845deb77.e259d8",
        "name": "Format Time Series DB record",
        "func": "var mmwave_objdist = flow.get(\"mmwave_objdist\") ;\nif( typeof( mmwave_objdist ) == 'undefined' ) {\n    return null;\n}\n\nif( typeof(msg.payload.d.buttonToggle) == 'undefined' ) {\n    return null;\n}\n\nif( msg.payload.d.buttonToggle === 0 ) {\n    return null;\n}\n\n// The button has been pressed, store the distance range\n\nmsg.payload = {\n            time:     new Date().getTime(),\n            distance:  mmwave_objdist\n        } ;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "29980c1c.6d5ff4",
                "e6d2dff7.99f508"
            ]
        ]
    },
    {
        "id": "e6d2dff7.99f508",
        "type": "cloudant out",
        "z": "845deb77.e259d8",
        "name": "",
        "cloudant": "",
        "database": "mmwave-london",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "e0affcd.8c6bd8",
        "type": "mqtt in",
        "z": "845deb77.e259d8",
        "name": "SimpleLink MQTT",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "69168cb2.e9448c",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a7466261.e3609",
                "d856c994.34f29"
            ]
        ]
    },
    {
        "id": "29980c1c.6d5ff4",
        "type": "debug",
        "z": "845deb77.e259d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "389b43ae.c82b5c",
        "type": "change",
        "z": "845deb77.e259d8",
        "name": "Store mmwave_objdist",
        "rules": [
            {
                "t": "set",
                "p": "mmwave_objdist",
                "pt": "flow",
                "to": "payload.d.mmwave_objdist",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "427d1822.5d5cf"
            ]
        ]
    },
    {
        "id": "d856c994.34f29",
        "type": "switch",
        "z": "845deb77.e259d8",
        "name": "Save Last Distance datapoint",
        "property": "payload.d",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "mmwave_objdist",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "389b43ae.c82b5c"
            ]
        ]
    },
    {
        "id": "427d1822.5d5cf",
        "type": "debug",
        "z": "845deb77.e259d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.d.mmwave_objdist",
        "targetType": "msg",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "69168cb2.e9448c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "abc123.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "e3011909.3230b8",
        "clientid": "a:abc123:ti-simplelink",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e3011909.3230b8",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "abc123.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    }
]
